.cart{
    display: flex;
    flex-direction: column;
}

.cartEmpty{
    text-align: center;
    padding: 10px;
}

.imgCartEmpty{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.buttonsBuy,.totalBuy{
    margin: auto;
}
.buttonsBuy,.totalBuy>*{
    padding: 10px;
}

.cartTittle{
    text-align: center;
    padding: 10px;
}

.item-cart{
    border: 1px solid black;
    display: flex;
    height: 200px;
    width: 800px;
    margin: auto;
}

.imgInCart{
    width: 200px;
}

.productTitle{
    text-align: center;
}