.cart{
    display: flex;
    flex-direction: column;
}

.finalBuy{
    margin: auto;
}

.item-cart{
    border: 1px solid black;
    display: flex;
    height: 200px;
    width: 800px;
    margin: auto;
}

.imgInCart{
    width: 200px;
}

.productTitle{
    text-align: center;
}