footer div a {
    width: 80px;
    padding: 5px;
    overflow: hidden;
  }
  
  footer {
    padding: 25px;
    display: flex;
    justify-content: center;
  }
  
  footer div a img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    transition: 0.4s;
  }

  footer div a img {
    width: 30px;
  }
  