@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

/* Variables */
:root {
  /* Paleta */
  --purpura: #A269E6;
  --naranja: #BA4A00;
  --blanco: #C8C8D3;
  --azul: #356A96;
  --negro: #181B1D;
  --rosa: #E9C1F1;
  --cinderella: #fbcbcc;
  --lavender-gray: #bcbcdb;
  --sweet-pink: #fb9cac;
  --cinderella: #fcdfe0;
  --melanie: #e0c3d3;
  --melanie: #e3c6dc;
  --melon: #fcb4b4;
  --wisp-pink: #fce4ec;
  --linen: #fcf2f2;
}

/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}